TRAMBAR_PUSH_RELAY_DATABASE_NAME=trambar_push_relay
TRAMBAR_PUSH_RELAY_DATABASE_FOLDER=/srv/trambar/postgres
TRAMBAR_PUSH_RELAY_DATABASE_ROOT_PASSWORD=qwerty
TRAMBAR_PUSH_RELAY_AWS_ACCESS_KEY_ID=
TRAMBAR_PUSH_RELAY_AWS_SECRET_ACCESS_KEY=
TRAMBAR_PUSH_RELAY_AWS_REGION=
TRAMBAR_PUSH_RELAY_FCM_ARN=
TRAMBAR_PUSH_RELAY_APNS_ARN=
TRAMBAR_PUSH_RELAY_APNS_SANDBOX_ARN=
TRAMBAR_PUSH_RELAY_WNS_ARN=
TRAMBAR_PUSH_RELAY_DOMAIN=
TRAMBAR_PUSH_RELAY_EMAIL=
